<div class="cards-container">
  <%= link_to car_path(car) do %>
  <img src="<%= car.photo1 %>" alt="car photo">
  <div class="card-description">
   <h2><%= car.name %></h2>
   <% car.average.times do %>
   <i class="fas fa-star"></i>
   <% end %>
   <% (5 - car.average).times do %>
   <i class="far fa-star"></i>
   <% end %>
   <p><%= car.description %></p>
   <h3><%= humanized_money(car.price)%> USD</h3>
   <% end %>
 </div>
</div>
