<div class="cards-container">
  <%= link_to car_path(car) do %>
  <img src="<%= car.photo1 %>" alt="car photo">
  <div class="card-description">
   <h2><%= car.name %></h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p><%= car.description %>......</p>
   <h3><%= humanized_money(car.price)%> USD</h3>
   <% end %>
  </div>
</div>
