<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1516298103702-43b22eb200e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1532974297617-c0f05fe48bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1503736334956-4c8f8e92946d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1516298252535-cf2ac5147f9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1544218159-804cc66c696a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1561444533-e11ac252308d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>
<div class="cards-home-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-home-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3> $500000</h3>
   <% end %>
  </div>
</div>

