<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id= "navbar">
  <%= link_to cars_path, class: "navbar-brand" do %>
  <i class="fas fa-car"></i> CARS
  <% end %>
  <div class="nav-cart">
    <div class="cart-item">
      <% if total_cart_items %>
      <%= link_to cart_path(@cart), class: "nav-link" do %>
      <span class="icon is-small">
        <i class="fas fa-shopping-bag"></i>
      </span>
      <span><%= cart_count_over_one %></span>
      <% end %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li>
        <% if total_cart_items %>
        <%= link_to cart_path(@cart), class: "nav-link" do %>
        <span class="icon is-small">
          <i class="fas fa-shopping-bag"></i>
        </span>
        <span><%= cart_count_over_one %></span>
        <% end %>
        <% end %>
      </li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>

      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li>
        <% if total_cart_items %>
        <%= link_to cart_path(@cart), class: "nav-link" do %>
        <span class="icon is-small">
          <i class="fas fa-shopping-bag"></i>
        </span>
        <span><%= cart_count_over_one %></span>
        <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


