<%= render 'shared/navbar' %>
<div class="purschase-wrapper">
  <div class="purschase-container">
    <h1>1.Payment</h1>z
    <%= form_tag order_payments_path(@order) do %>
    <article>
      <label class="amount">
        <span><p><i class="fas fa-money-bill"></i> Amount: <%= humanized_money(@order.amount) %> U$D</p></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Cars"
    data-email="<%= current_user.email %>"
    data-description="Car"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>

    <% end %>
  </div>
</div>
