<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1530940031329-f884cdcf65c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="banner-content">
    <h1>Shop</h1>
  </div>
</div>
<div class="car-wrapper">
  <ul class="category">
    <li><%= link_to "All Product", cars_path %></li>
    <li><%= link_to cars_path(brand: "ferrari") do %>Ferrari<% end %></li>
    <li><%= link_to cars_path(brand: "lamborgini") do %>Lamborghini<% end %></li>
    <li><%= link_to cars_path(brand: "aston-martin") do %>Aston Martin<% end %></li>
    <li><%= link_to cars_path(brand: "porsche") do %>Porsche<% end %></li>
    <li><%= link_to cars_path(brand: "rolls-royce") do %>Rolls Royce<% end %></li>
    <li><%= link_to cars_path(price_cents: :desc) do %>Price High to Low<% end %></li>
  </ul>
</div>
<div class="car-wrapper">
  <div class="car-container">
    <% @cars.each do |car| %>
    <%= render 'shared/cards', car: car %>
    <% end %>
  </div>
</div>
