<%= render 'shared/navbar' %>
<div class="show-container">
  <div class="show-image">
    <img src="<%= @car.photo1 %>" alt="">
    <img src="<%= @car.photo2 %>" alt="">
    <img src="<%= @car.photo3 %>" alt="">
    <img src="<%= @car.photo4 %>" alt="">
  </div>
  <div class="product-description">
    <h1><%= @car.name %></h1>
    <h3><%= @car.description %></h3>
    <!-- algun borde -->
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius. </p>

    <%= link_to "See specifications >", "#features", class: "nav-link" %>

    <h4> Style</h4>
    <img src="<%= @car.photo1 %>" alt="" style=" width: 150px;">
    <h3></h3>
    <!-- algun borde -->
    <div class="product-buy">
      <h4><%= humanized_money_with_symbol(@car.price) %></h4>
      <%= button_to 'Add to cart', line_items_path(car_id: @car), class: 'button is-warning add-to-cart' %>
    </div>
  </div>
</div>
</div>
<div class="container">
  <section id="features">
    <div class="features-product">
      <br><br><br><br>
      <h1> Features </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius. </p>
      <img src="<%= @car.photo3 %> " alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius. </p>
    </div>
  </section>
</div>
