<%= render 'shared/navbar' %>
<div class="show-container">
  <div class="show-image">
    <img src="<%= @car.photo1 %>" alt="">
    <img src="<%= @car.photo2 %>" alt="">
    <img src="<%= @car.photo3 %>" alt="">
    <img src="<%= @car.photo4 %>" alt="">
  </div>
  <div class="product-description">
    <h1><%= @car.name %></h1>
    <h3><%= @car.description %></h3>
    <!-- algun borde -->
    <div class="review-counter">
      <%= link_to "#reviews" do%>
      <% @car.average.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - @car.average).times do %>
      <i class="far fa-star"></i>
      <% end %>
      <%=@car.reviews.size%> Reviews
      <%end  %>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius. </p>

    <%= link_to "See specifications >", "#features", class: "nav-link" %>

    <h4> Style</h4>
    <img src="<%= @car.photo1 %>" alt="" style=" width: 150px;">
    <h3></h3>

    <%= render 'variants/new' %>
    <% @car.variants.each do |variant| %>
    <h2><%= variant.size_name %></h2>
    <%= link_to "Delete", variant, method: :delete %>


    <% end %>
    <!-- algun borde -->
    <div class="product-buy">
      <h4><%= humanized_money_with_symbol(@car.price) %></h4>



      <%= form_tag line_items_path do %>
      <%= hidden_field_tag 'car_id', @car.id %>
      <% @car.variants.each do |variant| %>
      <% if variant.size_name == 'unico' %>
      <%= hidden_field_tag 'variant_id', variant.id %>

      <% else %>
      <div class="label-guillo">
        <label>
          <input type="radio" name="variant_id" value="<%= variant.id %>" checked /><%= variant.size_name %>
        </label>
        <% end %>
      </div>
      <% end %>
      <%= submit_tag 'add to cart', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="container">
  <section id="features">
    <div class="features-title">
      <h3>Features</h3>
    </div>
    <div class="features-product">
      <div class="features-text">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae iste molestias vel nostrum, quos error eos harum possimus voluptatum ad voluptatem nemo optio a earum ab commodi eum eius. </p>
     </div>
     <div class="features-img">
       <img src="<%= @car.photo3 %> " alt="">
     </div>
   </div>
 </section>
</div>
<%= render 'shared/pre-footer' %>
<section id="new-reviews">
  <%= render 'shared/reviews' %>
</section>


<style>
  .label-guillo {
    display: flex;
  }
</style>
